<h1>Here's the user info</h1>
<p>User ID from the URL: <%= params[:id] %></p>
<% @recent_posts.each do |post| %>
  <a href="<%= user_post_path(post.author, post)%>">
    <p><%= post.title %></p>
    <p><%= post.text %></p>
  </a>
<% end %>